Required Assemblies/BankXMLManager/BankXMLManager.Console/Service References/BankXMLManager.SepaService/SepaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SepaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/BankXMLManager/SepaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/BankXMLManager/SepaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/BankXMLManager/SepaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SepaManager.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankXMLService_CreateXml_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateXml" />
  </wsdl:message>
  <wsdl:message name="IBankXMLService_CreateXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IBankXMLService_GetXmlDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlDocument" />
  </wsdl:message>
  <wsdl:message name="IBankXMLService_GetXmlDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankXMLService">
    <wsdl:operation name="CreateXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankXMLService/CreateXml" message="tns:IBankXMLService_CreateXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankXMLService/CreateXmlResponse" message="tns:IBankXMLService_CreateXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankXMLService/GetXmlDocument" message="tns:IBankXMLService_GetXmlDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankXMLService/GetXmlDocumentResponse" message="tns:IBankXMLService_GetXmlDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankXMLService" type="tns:IBankXMLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateXml">
      <soap:operation soapAction="http://tempuri.org/IBankXMLService/CreateXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlDocument">
      <soap:operation soapAction="http://tempuri.org/IBankXMLService/GetXmlDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SepaService">
    <wsdl:port name="BasicHttpBinding_IBankXMLService" binding="tns:BasicHttpBinding_IBankXMLService">
      <soap:address location="http://localhost:81/BankXMLManager/SepaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>